<ion-view view-title="Home">
<ion-content >
 <div class="list">
            <a class="item item-avatar" href="#page">
              <img src="img/1.jpg">
              <h2 class="positive">What is Finance</h2>
              <p>Finance is the study of how and under what terms savings (money)</p>
            </a>
            <a class="item item-avatar" href="#page1">
              <img src="img/2.jpg">
              <h2 class="positive">Forms of business organization</h2>
              <p>Sole proprietorship, Partnership, Corporation</p>
            </a>
            <a class="item item-avatar" href="#page2">
              <img src="img/3.jpg">
              <h2 class="positive">The Study of Finance</h2>
              <p>The study of finance, Securities, Corporate law</p>
            </a>
            <a class="item item-avatar" href="#page3">
              <img src="img/4.jpg">
              <h2 class="positive">Relevance of Interest Rate Movements</h2>
              <p>Changes in interest rates impact the real economy...</p>
            </a>
            <a class="item item-avatar" href="#page4">
              <img src="img/5.png">
              <h2 class="positive">Time Value of Money & Time lines</h2>
              <p>SIMPLE INTEREST, Compound Interest....</p>
            </a>
            <a class="item item-avatar" href="#page5">
              <img src="img/6.png">
              <h2 class="positive">Ratio analysis</h2>
              <p>vertical analysis, Horizontal Analysis...</p>
            </a>
            <a class="item item-avatar" href="#page6">
              <img src="img/7.png">
              <h2 class="positive">Capital budgeting</h2>
              <p>Net Present Value, Internal Rate of Return.....</p>
            </a>
            <a class="item item-avatar" href="#page7">
              <img src="img/8.jpg">
              <h2 class="positive">Bond</h2>
              <p>Bond, Treasury Bond, Corporate Bonds ...</p>
            </a>
            <a class="item item-avatar" href="#page8">
              <img src="img/9.png">
              <h2 class="positive">Key Characteristics of Bonds</h2>
              <p>Par Value, Coupon Payment, Coupon Interest rate, Floating rate Bond</p>
            </a>
    </div>
</ion-content>
</ion-view>