<ion-view view-title="Business Finance">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/5.png">
            <h2 class="positive">Time Value of Money & Time lines</h2>
            <p>SIMPLE INTEREST, Compound Interest....</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/5.png">
            <h2>Time Value of Money & Time lines</h2>            
                <ul>
                    <li>Show the timing of cash flows.</li>
                    <li>Tick marks occur at the end of periods, so Time 0 is today; Time 1 is the end of the first period (year, month, etc.) or the beginning of the second period.</li>
                </ul>
                <h3 class="Positive">SIMPLE INTEREST</h3>
                <p>When a person borrows money for a certain period of time, then he has to pay some amount as a fee for the use of money. This is called “Interest”.
                When a person invest money for a certain period of time and he receive some amount / extra amount as income. This income is called “interest”.
                When interest is computed only on principal for the entire period it is called “simple Interest”.
                </p>
                <h3 class="Positive">Compound Interest</h3>
                <p>The interest for each time period is added to the principal before interest is computed for the next time period.
                The total interest of all periods computed in this ways is called “compound Interest” and the total amount is called “compound Amount”.
                </p>
        </div>

        </div>
    </ion-content>
</ion-view>