<ion-view view-title="Busniess Finance">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/6.png">
            <h2 class="positive">Ratio ANALSIS</h2>
            <p>vertical analysis, Horizontal analysis...</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/6.png">
            <h2>Horizontal  Analysis</h2>
            <h3 class="positive">Formula</h3>            
            <p>
                Horizontal and vertical analysis both are fundamental ratios of financial managment.
                Horizontal analysis in which comprision of current year with base year. 
            </p>
            <p>
                Horizontal analysis = New year item – old item / old year item 
            </p>

            <h2>Vertical Analysis</h2>
            <h3 class="positive">Formula</h3>
            <p>
                Vertical is a method of income statement analysis in which each entry for each of the three major categories of accounts or assets liabilities and equities in a balance sheet is represented as a proportion of the total account it’s a comparison with same year.
            </p>

            <p>
                Vertical analysis = item / sales X 100 
                Vertical analysis = items/ T. Assets X 100
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>