<ion-view view-title="Business Finance">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/8.jpg">
            <h2 class="positive">Bond</h2>
            <p>Bond, Treasury Bond, Corporate Bonds ...</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/8.jpg">
            <h2>Bond</h2>            
            <ul>
                <li>Bond take Security and than bring loan.</li>
                <li>Debenture without security loan provider</li>
            </ul>
            <h2>Bond</h2>
            <p>
                Bond A Bond is a Long Term contract under which a borrower agree to make payments of interest and principal, on specific date to the holders of the bond.
            </p>
            <h2>Treasury Bond </h2>
            <p>
                Treasury Bond , Sometimes referred to as government bonds , are issued by federal government , it is reasonable to assume that the federal government will make good on its promised payments, so these bonds have no default risk. However Treasury bond prices decline when interest rates rise so they are not free of all risk.

            </p>
            <h2>Corporate Bonds </h2>
            <p>
             Corporate Bonds , Corporate bond as the name implies , are issued by corporations. Unlike treasury Bond , corporate Bonds are exposed to default risk. If the issuing company gets into troubles , it may be unable to make the promised interest and principal payments. Different corporate bonds have different levels of default risk, depending on the issuing company characteristics and on the terms of the specific bond. Default risk is often referred to as “credit risk” . The larger the default or credit risk , the higher the interest rates the issuer must pay/ offer.
            </p>
            <h2>Municipal Bonds</h2>
            <p>
            Municipal Bonds, Municipal bonds or “munis” are issued by state and local government. Like corporate bonds, munis have default risk. However munis offer one major advantage over all other bonds: Interest earned on most municipal bonds is exempt from federal taxes and also from state taxes if the holder is a resident of the issuing state. Consequently municipal bonds carry interest rates that are considerably lower than those on corporate bonds with the same default risk. 
            </p>
            <p>Foreign Bond, Foreign bonds are issued by  foreign government or foreign corporations. Foreign  corporate bonds are of course exposed to default risk, and so are some foreign government bonds. An additional risk exits if the bonds are denominated in a currency other than that of the investor’s home currency, For example , if you purchase corporate bonds denominated in Japanese Yen, you will lose money – even if the company does not default on its bonds – if the ja[anise Yen falls relative to the dollar.</p>
        </div>

        </div>
    </ion-content>
</ion-view>