<ion-view view-title="Business Finance">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/3.jpg">
            <h2 class="positive">The Study of Finance</h2>
            <p>The study of finance, Securities, Corporate law</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/3.jpg">
            <h2>The Study of Finance</h2>            
            <p>
            The study of finance requires a basic understanding of:
            Securities (Bond issued for public)
            Corporate law (Financial Law Management)
            Financial institutions and markets (Banks and Stock Market)
            (Stock exchange)
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>