<ion-view view-title="Business Finance">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/1.jpg">
            <h2 class="positive">What is Finance</h2>
            <p>Finance is the study of how and under what terms savings (money)</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/1.jpg">
            <h2>What is Finance</h2>            
            <p>Finance is the study of how and under what terms savings (money) are allocated between lenders and borrowers.</p>
            <q>Finance is distinct from economics in that it addresses not only how resources are allocated but also under what terms and through what channels</q>
            <p>Financial contracts or securities occur whenever funds are transferred from issuer to buyer.</p>
            <ul>
                <li>Other system that includes the circulation of money granting of credit of credit , the making of investment , and the provision of banking facilities called “Finance”.</li>
                <li>Finance is an art of management of money.</li>
                <li>Finance is the combination of two subject accounting & economics.</li>
                <li>circulation of money is called “finance”.</li>
            </ul>
        </div>

        </div>
    </ion-content>
</ion-view>