<ion-view view-title="Business Finance">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/4.jpg">
            <h2 class="positive">Relevance of Interest Rate Movements</h2>
            <p>Changes in interest rates impact the real economy...</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/4.jpg">
            <h2>Relevance of Interest Rate Movements</h2>            
            <p class="positive">Changes in interest rates impact the real economy</p>
            <ul>
                <li>Investment spending</li>
                <li>Interest sensitive consumer spending</li>
            </ul>
            <p class="positive">Interest rate changes affect the values of all securities</p>
            <ul>
                <li>Security prices vary inversely with interest rates</li>
                <li>Varying interest rates impact retirement funds and retirement income</li>
            </ul>
            <p class="positive">Interest rates changes impact the value of financial institutions</p>
            <ul>
                <li>Managers of financial institutions closely monitor rates</li>
                <li>Interest rate risk is a major risk impacting financial institutions</li>
            </ul>
        </div>

        </div>
    </ion-content>
</ion-view>