<ion-view view-title="Business Finance">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/9.png">
            <h2 class="positive">Key Characteristics of Bonds</h2>
            <p>Par Value, Coupon Payment, Coupon Interest rate, Floating rate Bond</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/9.png">
            <h2>Par Value</h2>            
            <p>
            Par Value : the par value is the stated face value of the bond: Generally assume a par value of Rs 1000/. Although any multiple of Rs 1,00 ( for Example 5,00, 50,000 etc.) The par value generally represent the amount of money the firm borrows and promises to repay on the maturity date.
            </p>
            <h2>Coupon Payment </h2>            
            <p>
                Coupon Payment : The specified number of amount interest paid each period , generally each six months.
            </p>
            <h2>Coupon Interest rate</h2>            
            <p>Coupon Interest rate :  The stated annual interest rate on a bond. This rate is fixed at the time of bond issued.
            </p>
            <h2>Floating rate Bond</h2>            
            <p>
                Floating rate Bond :  A bond whose interest rate fluctuate with shifts in the general level of interest rates. It is adjust every six months based on some markets rates.

            </p>
            <h2>Zero Coupon Bond</h2>            
            <p>
                Zero Coupon Bond :  A Bond that pays no annual interest but is sold at a discount below par, thus providing compensation to investors in the form of capital appreciation.

            </p>
            <h2>Original Issue Discount (OID) Bond</h2>            
            <p>
                Original Issue Discount (OID) Bond :  Any Bond originally offered at a price below its par value.

            </p>
            <h2>Maturity Date</h2>            
            <p>
                Maturity Date : A specified date on which the par value of a bond must be repaid.

            </p>
            <h2>Original Maturity</h2>            
            <p>
                Original Maturity : Most bond have original maturity ( the maturity at the time the bond is issued) ranging from 10 to 40 years , but any maturity is legally permissible . Of course the effective maturity of a bond declines each year after it has been issued.  Thus MTL bonds had a 15 years original maturity but in 2005 , a year later they will have 14 years maturity and so on.
            </p>
            <h2> Callable Bond / Call provision</h2>            
            <p>
                 Callable Bond / Call provision :  A provision in a bond contract that gives the issuer the right to redeem the bonds under specified terms prior to the normal date. The call provision generally states that the company must pay the bondholders an amount greater than the par value of they are called. The additional sum which is termed a call premium, is often set equal to one year’s interest if the bonds are called during first year. And the premium declined at a constant rate of INT / N each year thereafter, where INT = annual interest and N = Original maturity in years.
                 <br><br>
                 <strong>For Example </strong><br>
                 The call premium on a Rs 1000/. Par value , 10 years, 10 % bond would generally be Rs 100 if it were called during the First year, Rs 90 during the 2nd year. ( calculated by reducing the Rs 100 , or 10 % premium by on tenth). And so on. However , bonds are often not callable until several years ( generally 5 to 10 years) after they were issued . This is known as a deferred call , and the bond are said to have call protection.
                <ul>
                    <li>Call provision.</li>
                    <li>Call premium,</li>
                    <li>Refunding Operations ; change old bond with new due to decrease in interest rate of market.</li>
                </ul>
            </p>
            <h2>Sinking Funds</h2>            
            <p>
                Sinking Funds : Some Bonds also include a sinking fund provision that facilitates the orderly retirement of the bond issue.  On rare Occasions the firm may be required to deposited money with a trustee, which invests the funds and then uses the accumulated sum to retire the bonds when they mature. Usually, through the sinking fund is used to buy back a certain percentage of the issue each year. A failure to meet the sinking fund requirement causes the bond to be thrown into default , which may force the company into bankruptcy . Obviously , a sinking fund can constitute a significant cash drain on the firm.
                <br><br>
                IN most cases , the firm is given the right to handle the sinking fund in the either of two ways.
                <br>
                <ul>
                    <li>The company can call in for redemption ( at par value) a certain % of the bond each year ; for example , it might be able to call 5 % of the total original amount of the issue at a price of Rs 1000/. Per bond. The bonds are numbered serially , and those called for redemption are determined by a lottery administered by the trustee.</li>
                    <li>The company may buy the required number of bonds on the open market.</li>
                </ul>
            </p>
            <h2>Convertible Bond</h2>            
            <p>
                Convertible Bond : The Bond that is exchangeable at the option of the holder , for common stock of the issuing firm. Issuing company offer this feature with the bond that they will exchange the bond with ordinary shares capital if buyer is agree to do.
            </p>
            <h2>Bond with warrant </h2>            
            <p>
                Bond with warrant : A long term option to buy a stated number of shares of common stock at a specified price.  When ever buyer wants to exchange bonds with shares issuer will do the same on already mentioned price.

            </p>
            <h2>Putable Bond</h2>            
            <p>
                Putable Bond : A Bond with provision that allow the bond’s investor to sell the bond  to the company prior to maturity at a prearranged price.

            </p>
            <h2>Income Bond</h2>            
            <p>
                Income Bond : The Bond that pays interest only of the interest is earned.
            </p>
            <p>
                Indexed ( Purchasing power ) Bond : A bond that has interest payments based on an inflation index so as to protect the holder from inflation. These types of Bonds are very famous in Russia & Israiel.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>