<ion-view view-title="Business Finance">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/2.jpg">
            <h2 class="positive">Forms of business organization</h2>
            <p>Sole proprietorship, Partnership, Corporation</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/2.jpg">
            <h2>Forms of business organization</h2>            
            <h3 class="positive">Sole proprietorship</h3>
            <p>The sole proprietorship is the simplest business form under which one can operate a business. The sole proprietorship is not a legal entity. It simply refers to a person who owns the business and is personally responsible for its debts.</p>
            <h3 class="positive">Partnership</h3>
            <p>A partnership is an arrangement in which two or more individuals share the profits and liabilities of a business venture. Various arrangements are possible: all partners might share liabilities and profits equally, or some partners may have limited liability.</p>
            <h3 class="positive">Corporation</h3>
            <p>A corporation is a legal entity that is separate and distinct from its owners. Corporations enjoy most of the rights and responsibilities that an individual possesses; that is, a corporation has the right to enter into contracts, loan and borrow money, sue and be sued, hire employees, own assets and pay taxes.</p>

        </div>

        </div>
    </ion-content>
</ion-view>