<ion-view view-title="Business Finance">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/7.png">
            <h2 class="positive">Capital budgeting</h2>
            <p>Net Present Value, Internal Rate of Return.....</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/7.png">
            <h2>Capital budgeting</h2>            
            <p>
                The process of planning expenditure on assets whose cash flows are expected to extend beyond one year.
            </p>
            <p>Investment decision is involving fixed assets, or capital budgeting . Here the term capital refers to long term assets used in production , while a budget is a plan that details projected inflows and outflows during some future period. Thus , the capital budget is an outline of planned investment in fixed assets, and capital budgeting is the whole process of analyzing project and deciding which ones to include in the capital budget.
            </p>
            <h2>Net Present Value</h2>            
            <p>
                A method of ranking investment proposal using the NPV , which is equal to the present value of future net cash flows, discounted at the cost of capital.
            </p>
            <ul>
                <li>Net present value (NPV) > 0 =Project is financially visible and  recommended to be started.</li>
                <li>NPV = 0 project is financially visible.</li>
                <li>NPV < 0 project is not visible it should be rejected.</li>
            </ul>
            <h2>Internal Rate of Return</h2>            
            <p>
                A <mark> metric</mark> used in <mark>capital budgeting</mark> measuring the profitability of potential investments. Internal rate of <mark>return</mark> is a <mark>discount rate</mark> that makes the net present value (NPV) of all cash flows from a particular <mark>project</mark> equal to zero.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>